@charset "UTF-8";

body {
	background-color: gray;
}

a {
	text-decoration: none;
	color: black;
	transition: all 1s;
}

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a :hover {
	color: #C62917;
	text-decoration: none;
}


.searchBook {
	margin-left: 25%;
	margin-top: 5%;
	width: 950px;
}
.searchBook input{
	width: 950px;
	border-radius: 15px;
}

.BoardList {
	background-color: white;
	margin-left: 25%;
	margin-top: 15px;
	width: 950px;
	height: 1600px;
}

.BoardCardSet{
	width: 950px;
	height: 300px;
	border: 2px solid black;
	transition : all 1s;
	
}

.BoardCardSet:hover{
	background-color: #e9e9e9;
}

.BoardCard {
	margin-top: 100px;
	width: 746px;
	float: right;
}

.BoardCardImg{
	margin-top: 60px;
	float: left;
}

.btn {
	width: 950px;
	height : 35px;
	text-decoration: none;
	font-size: 15px;
	color: white;
	display: inline-block;
	border-radius: 10px;
	transition: all 0.1s;
}

.btn.sell.label{
	font-weight: bold;
}

.btn:active {
	transform: translateY(3px);
}

.btn.sell {
	background-color: #1f75d9;
	border-bottom: 5px solid #165195;
}

.btn.sell:active {
	border-bottom: 2px solid #165195;
}



.priceLabel {
	font-weight: bold;
	font-size: 25px;
	color: #C62917;
}

ul li{
	list-style-type: none;
	float: left;
}

ul li label {
	border: solid 2px;
	font-size: 20px;
	transition:all 0.7s;
}

ul li label:hover{
	border-color: #165195;
	color: #165195;
}
