<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anytime.root.bookshop.dao.BookShopDAO">

	<resultMap type="com.anytime.root.bookshop.dto.BookShopDTO"
		id="bookDto">
		<result property="boardId" column="boardId" />
		<result property="booktitle" column="booktitle" />
		<result property="bookisbn" column="bookisbn" />
		<result property="writer" column="writer" />
		<result property="school" column="school" />
		<result property="underline" column="underline" />
		<result property="handwrite" column="handwrite" />
		<result property="cover" column="cover" />
		<result property="nameWrite" column="nameWrite" />
		<result property="page" column="page" />
		<result property="meansOftransaction"
			column="meansOftransaction" />
		<result property="price" column="price" />
		<result property="SalesStatus" column="Sales_status" />
		<result property="createdate" column="createdate" />
	</resultMap>

	<resultMap
		type="com.anytime.root.bookshop.dto.BookShopPhotoDTO"
		id="bookDtoPhoto">
		<result property="id" column="id" />
		<result property="photo1" column="photo1" />
		<result property="photo2" column="photo2" />
		<result property="photo3" column="photo3" />
		<result property="photo4" column="photo4" />
		<result property="photo5" column="photo5" />
	</resultMap>

	<insert id="SaveBookShop">
		insert into anyTimeBoard VALUES
		(AutoBookShopAdd.NEXTVAL,#{booktitle},#{bookisbn},#{writer},#{school},
		#{underline},#{handwrite},#{cover},#{nameWrite},
		#{page},#{meansOftransaction},#{price},'notSold',sysdate)
	</insert>

	<insert id="SaveBookShopPhoto">
		insert into photoTable VALUES(
		AutoBookShopAdd.CURRVAL,#{photo1},#{photo2},#{photo3},#{photo4},#{photo5})

	</insert>


	<select id="selectBook" resultMap="bookDto">
		select * from anyTimeBoard
		where bookisbn= #{bookisbn}
	</select>

	<select id="selectBookPhoto" resultMap="bookDtoPhoto">
		select * from photoTable
		where id= #{id}
	</select>
	
	<select id="selectBookId" resultMap="bookDto">
	select *from anyTimeBoard where BOARDID = #{boardId}
	
	</select>
	

	<select id="AllselectBookShop" resultMap="bookDto">
		select * from anyTimeBoard
	</select>
	
	<select id="AllSelectBookShopPhoto" resultMap="bookDtoPhoto">
		select * from photoTable
	</select>
	
	<select id="PageSelectBookShop" resultMap="bookDto" parameterType="map">
	select B.* from(select rownum rn, A.* from(select * from ANYTIMEBOARD order by BOARDID desc)A)B 
		 where rn between #{strBoardNum} and #{endBoardNum}
	</select>
	
	<select id="countingBookShop" resultType="int">
	select count(*) from anyTimeBoard
	</select>
	
	<delete id="deleteBookShopBoard">
	delete from anyTimeBoard where BOARDID=#{boardId}
	</delete>
	
	
	<update id="modifyBookShop">
	UPDATE anyTimeBoard SET 
	UNDERLINE =#{underline},
	HANDWRITE =#{handwrite},
	COVER =#{cover},
	NAMEWRITE = #{nameWrite},
	PAGE = #{page},
	MEANSOFTRANSACTION = #{meansOftransaction},
	PRICE = #{price}
	WHERE BOARDID = #{boardId}
	
	</update>
	
	<update id="modifyBookShopPhoto">
	UPDATE photoTable SET 
	photo1 =#{photo1},
	photo2 =#{photo2},
	photo3 =#{photo3},
	photo4 = #{photo4},
	photo5 = #{photo5}
	WHERE id = #{id}
	
	</update>
	

</mapper>