<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anytime.root.individual.repository.TimetableRepository">
	<resultMap type="com.anytime.root.individual.dto.Timetable" id="tt">
		<result property="itemNo" column="item_no"/>
		<result property="id" column="id"/>
		<result property="semester" column="semester"/>
		<result property="subject" column="subject"/>
		<result property="day" column="day"/>
		<result property="start_time" column="start_time"/>
		<result property="start_minute" column="start_minute"/>
		<result property="end_time" column="end_time"/>
		<result property="end_minute" column="end_minute"/>
	</resultMap>
	<select id="checkUser" parameterType="String" resultType="int">
		select count(*) from timetable_setting where id = #{id}
	</select>
	<insert id="makeSetDefault" parameterType="String">
		insert into timetable_setting (id) values(#{id})
	</insert>
	<select id="getTimetable" resultMap="tt">
		select * from timetable where id = #{id} and semester = #{semester}
	</select>
	<select id="countById" parameterType="String" resultType="int">
		select count(*) from timetable where id = #{id}
	</select>
	<select id="getItemNo" parameterType="String" resultType="int">
		select * from 
		 (select item_no from timetable where id = #{id} order by item_no desc)
		 where rownum = 1
	</select>
	<insert id="add">
		insert into timetable(item_no, id, semester, subject, day, start_time, start_minute, end_time, end_minute)
		values(#{itemNo}, #{id}, #{semester}, #{subject}, #{day}, #{start_time}, #{start_minute}, #{end_time}, #{end_minute})
	</insert>
	<update id="modify">
		update timetable set subject = #{subject}, day = #{day},
		 start_time = #{start_time}, start_minute = #{start_minute},
		 end_time = #{end_time}, end_minute = #{end_minute}
		 where id = #{id} and item_no = #{itemNo}
	</update>
	<delete id="delete">
		delete from timetable where id = #{id} and item_no = #{itemNo}
	</delete>
	<select id="getMainTimetable" parameterType="String" resultType="String">
		select main from timetable_setting where id = #{id}
	</select>
	<select id="getSetting" resultType="hashmap">
		select ${semester}, main from timetable_setting where id = #{id}
	</select>
	<update id="setMain">
		update timetable_setting set main = #{main} where id = #{id}
	</update>
	<update id="setScope">
		update timetable_setting set ${semester} = #{scope} where id = #{id}
	</update>
	<delete id="reset">
		delete from timetable where id = #{id} and semester = #{semester}
	</delete>
</mapper>
